.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(220, 220, 220);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    word-break: break-all;

    span {
        font-size: 30px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    &:hover {
        filter: brightness(1.2);
        cursor: pointer;
    }


    @media (max-width: 950px) {
        width: 250px;

        span {
            font-size: 18px !important;
        }
    }

    @media (max-width: 650px) {
        width: 180px;

        span {
            font-size: 12px !important;
        }
    }

    @media (max-width: 400px) {
        width: 150px;

        span {
            font-size: 12px !important;
        }
    }
}

.player-active {
    background-color: rgb(218, 32, 39) !important;
}