.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(134, 130, 124);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange !important;
}