<div class="imprint-div">
    <div class="imprint-content">
        <h1>
            Impressum
        </h1>
        <h2>
            Angaben gem&auml;&szlig; &sect; 5 TMG
        </h2>
        <p>
            Thomas Ketler<br/>
            Hauptstra&szlig;e 71<br/>
            56593 Pleckhausen
        </p>
        <h2>
            Kontakt
        </h2>
        <p>
            Telefon: 015128858361<br />
            E-Mail: thomas_ketler@web.de
        </p>

        <p>
            Quelle: 
            <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html
            </a>
        </p>
    </div>
</div>